// Font
$font: "Roboto", sans-serif;

// Colors
$white: #ffffff;
$light-gray: #f5f5f5;
$gray: #999999;
$dark-gray: #666666;

$border: #e6e6e6;

$placeholder: #b3b3b3;
$input-active: #999;

$login-bg: rgb(11, 15, 39);
$login-button: #9fd533;
$login-hover: #86b300;

$logout-button: #2f3254;
$logout-hover: #99cc33;
