@import "../../../styles/utils";

.logout-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $logout-button;
  background: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:focus {
    outline: none;
  }

  &:hover {
    color: $logout-hover;
    .cls-1 {
      fill: $logout-hover;
    }
  }

  .logout-text {
    margin-left: 15px;
    padding-top: 2px;
    font-size: 14px;
    font-weight: 300;
    line-height: 2.14;
    letter-spacing: 0.35px;
    text-align: left;
  }
}
